@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* //////////////////////////////////// */
/* RESET */
/* //////////////////////////////////// */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

/* //////////////////////////////////// */
/* DIVERS */
/* //////////////////////////////////// */

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.scroll-mtop {
    scroll-margin-top: 91px;
}

.scroll-mtop-50 {
    scroll-margin-top: 141px;
}

.list-style-none {
    list-style: none;
}

.deco-underline {
    text-decoration: underline;
}

.inline-block {
    display: inline-block;
}

/* //////////////////////////////////// */
/* COULEURS */
/* //////////////////////////////////// */

:root {
    --vertfonce: #285430;
    --vert: #5F8D4E;
    --vertclair: #A4BE7B;
    --beige: #E5D9B6;
    --blanc: #FFFFFF;
    --noir: #000000;
}

.bg-vertfonce {

    background-color: var(--vertfonce);

    a {
        color: white;
    }

    .bouton-principal {
        background-color: var(--beige);
        color: black;
    }
}

.bg-vert {
    background-color: var(--vert);
}

.bg-vertclair {
    background-color: var(--vertclair);
}

.bg-beige {
    background-color: var(--beige);
}

.bg-blanc {
    background-color: var(--blanc);
}

.bg-noir {
    background-color: var(--noir);
}

.color-vertfonce {
    color: var(--vertfonce);
}

.color-vert {
    color: var(--vert);
}

.color-vertclair {
    color: var(--vertclair);
}

.color-beige {
    color: var(--beige);
}

.color-blanc {
    color: var(--blanc);
}

.color-noir {
    color: var(--noir);
}

/* //////////////////////////////////// */
/* FONTS */
/* //////////////////////////////////// */

.text-align {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

a,
p,
li,
button,
span {
    font-family: 'Urbanist', sans-serif;
}

.urbanist {
    font-family: 'Urbanist', sans-serif;
}

a {
    text-decoration: none;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.fsize-12 {
    font-size: 12px;
}

.fsize-14 {
    font-size: 14px;
}

.fsize-16 {
    font-size: 16px;
}

.fsize-18 {
    font-size: 18px;
}

.fsize-20 {
    font-size: 20px;
}

.fsize-24 {
    font-size: 24px;
}

.fsize-32 {
    font-size: 32px;
}

.fsize-40 {
    font-size: 40px;
}

.text-center {
    text-align: center;
}

/* //////////////////////////////////// */
/* FLEX */
/* //////////////////////////////////// */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

/* //////////////////////////////////// */
/* BOUTONS */
/* //////////////////////////////////// */

.bouton-principal {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 18px 36px;
    margin: 0;
    font-family: inherit;
    position: relative;
    display: inline-block;
    font-size: 20px;
    border-radius: 500px;
    overflow: hidden;
    background: var(--beige);
    color: var(--blanc);
}

.bouton-principal span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.bouton-principal:hover span {
    color: var(--vertfonce);
}

.bouton-principal::before,
.bouton-principal::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bouton-principal::before {
    content: "";
    background: var(--vertfonce);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.bouton-principal:hover::before {
    transform: translate3d(100%, 0, 0);
}

.bouton-secondaire {
    color: var(--vertfonce);
    padding: 12px 20px;
    border: 2px solid var(--vertfonce);
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.bouton-secondaire:hover {
    padding: 12px 36px;
}

.bouton-tertiaire {
    padding: 12px 20px;
    border-radius: 9999px;
    background-color: var(--beige);
    color: var(--vertfonce);
    transition: all 0.3s ease;
}

.bouton-tertiaire:hover {
    padding: 12px 36px;
}

/* //////////////////////////////////// */
/* POSITION */
/* //////////////////////////////////// */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
    top: 0;
}

/* //////////////////////////////////// */
/* GAP */
/* //////////////////////////////////// */

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.gap-50 {
    gap: 50px;
}

.gap-100 {
    gap: 100px;
}

/* //////////////////////////////////// */
/* MARGIN */
/* //////////////////////////////////// */

.m-bottom-10 {
    margin-bottom: 10px;
}

.m-bottom-30 {
    margin-bottom: 30px;
}

.m-bottom-50 {
    margin-bottom: 50px;
}

/* //////////////////////////////////// */
/* HEIGHT */
/* //////////////////////////////////// */

.h100 {
    height: 100%;
}

.h-auto {
    height: auto;
}

/* //////////////////////////////////// */
/* WIDTH */
/* //////////////////////////////////// */

.w-auto {
    width: auto;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}

/* //////////////////////////////////// */
/* SOMMAIRE */
/* //////////////////////////////////// */

.sommaire {
    width: 20%;
    padding: 50px;
}

.content {
    width: 80%;
    padding-right: 50px;
}

.menu {
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 141px;
    background-color: var(--vertfonce);
    padding: 24px;
    border-radius: 24px;

    a {
        color: var(--blanc);
        transition: color .3s ease;
    }

    a:hover {
        text-decoration: underline;
    }

    ul {
        list-style: none;
        padding-left: 16px;
        margin-top: 16px;

        li {
            margin-bottom: 16px;
        }
    }
}

/* //////////////////////////////////// */
/* HEADER */
/* //////////////////////////////////// */

header {
    padding: 20px 64px;
    z-index: 9999;
    background-color: var(--blanc);
    transition: all ease .3s;

    a,
    .bouton-tertiaire {
        color: var(--vertfonce);
    }
}

.header-link:hover {
    text-decoration: underline;
}

/* //////////////////////////////////// */
/* HERO */
/* //////////////////////////////////// */

.hero {
    height: 80vh;
    background-image: url("assets/new/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* //////////////////////////////////// */
/* PERSONA */
/* //////////////////////////////////// */

#persona {
    padding: 50px 0;
}

#persona h3 {
    margin-bottom: 30px;
}

/* //////////////////////////////////// */
/* PROBLEMATIQUE */
/* //////////////////////////////////// */

#problematique {
    padding: 100px 50px;
}

/* //////////////////////////////////// */
/* BENCHMARK */
/* //////////////////////////////////// */

.border-test {
    border-bottom: 1px solid var(--vertfonce);
}

.reveil>div {
    padding: 50px 0;
}

#benchmark {
    padding-top: 50px;
}

#benchmark img {
    width: 20%;
    object-fit: contain;
}

/* //////////////////////////////////// */
/* USERFLOW */
/* //////////////////////////////////// */

#userflow {
    padding: 50px 0;
}

#userflow img {
    width: 100%;
    object-fit: contain;
}

/* //////////////////////////////////// */
/* SOLUTION */
/* //////////////////////////////////// */

#solution {
    padding: 50px 0;
}

.solution-images {
    padding: 50px 0;
}

.solution-images h4 {
    margin-bottom: 30px;
}

.solution-images img {
    width: calc(50% - 25px);
    object-fit: cover;
}

/* //////////////////////////////////// */
/* PROTOTYPE */
/* //////////////////////////////////// */

#prototype {
    padding: 50px 0;
}

/* //////////////////////////////////// */
/* USERTESTS */
/* //////////////////////////////////// */

#usertests {
    padding: 50px 0;
}

#usertests img {
    width: calc(100% - 25px);
    height: auto;
    object-fit: contain;
}

.usertests-images>div {
    padding: 50px 0;
}

.usertests-images p {
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--vertfonce);
    font-size: 20px;
    text-align: center;
}

/* //////////////////////////////////// */
/* PERSPECTIVES */
/* //////////////////////////////////// */

#perspectives {
    padding: 100px 50px;
    margin: 50px 0;
}

/* //////////////////////////////////// */
/* FOOTER */
/* //////////////////////////////////// */

footer {
    background-color: var(--vertfonce);
    padding-top: 50px;
}


.agauche h3 {
    padding: 30px 0;
    font-size: 24px;
    color: var(--beige);
}

.agauche svg {
    transition: transform 0.3s ease;
}

.agauche svg:hover {
    transform: scale(1.2);
}

.footer-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 50px;
}

.milieu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.milieu ul {
    line-height: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.milieu a {
    color: var(--beige);
}

.milieu a:hover {
    color: var(--beige);
    text-decoration: underline;
}

.droit {
    display: flex;
    align-items: flex-end;
    gap: 30px;
}

.droit img {
    transition: transform 0.3s ease;
}

.droit img:hover {
    transform: scale(1.3);
}

.legal {
    padding: 15px 0;
    text-align: center;
    color: var(--vertfonce);
    background-color: var(--blanc);
}




.p-50 {
    padding: 0 50px;
}